{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<br><br>
	<div style="text-align:center;">
		<h1>Liste des hackathons</h1>
		<h2>Selectionnez le thème d'un hackathon pour avoir plus d'information</h2>
		<div class="dropdown">
			<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
				Thèmes
			</a>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				{% for unHackathon in lesHackathons %}
					<a class="dropdown-item" href={{path('detailHackathon',{'id':unHackathon.idhackathon})}}>{{unHackathon.theme}}</a>
				{% endfor %}
			</div>
		</div>
	</div>
	<br>
	<div class="example-wrapper">
		<table data-toggle="table" data-url="http://localhost:8000/getHackathon" data-search="true">
			<thead>
				<tr>
					<a href="google.fr"><th data-sortable="true" data-field="theme">Thème</th></a>
					<th data-field="ville">Ville</th>
					<th data-field="lieu">Lieu</th>
				</tr>
			</thead>
		</table>
	</div> 
{% endblock %}
