{% extends 'base.html.twig' %}

{% block title %}Hackathon
{% endblock %}

{% block body %}

	<div style="background-image: ; width: 100%; height: 100px; margin-top:50px;">
		<h1 style="text-align: center;">Hackathon</h1>
		<h3 style="text-align: center;">Page d'accueil</h3>
	</div>
    <img src="https://www.piworld.com/wp-content/uploads/sites/2/2019/05/Hackathon-pic.png" style="margin-right:35%; margin-left:36%; margin-top:100px; height: 350px; width: 530px;">
{% endblock %}
